beautifulsoup4==4.6.3
bs4==0.0.1
cairocffi==0.9.0
CairoSVG==2.1.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
Django==2.1.1
html5lib==1.0.1
idna==2.7
mysqlclient==1.3.13
pdfkit==0.6.1
pdfrw==0.4
Pillow==5.2.0
pkg-resources==0.0.0
pycparser==2.19
Pyphen==0.9.5
pytz==2018.5
requests==2.19.1
six==1.11.0
tinycss2==0.6.1
urllib3==1.23
WeasyPrint==0.42.3
webencodings==0.5.1
workerpool==0.9.4
