.custom{
  background:#2dce89 !important;
  color:red;
  display: flex;
  align-items: center !important;
}
body{
  background:lightgrey !important;
}

.container{
  top:0px;
  width:100%;
  background:white;
  position:fixed;
  top:0px;
  left: 3cm;
  height:1200px;
  box-shadow:4px 4px 8px 0 rgba( 0, 0, 0, .2 );
}
